sudo: false
dist: xenial

language: python

python:
- "3.7"
- "3.6"
# - "pypy3.5"

install:
- pip install codecov
- pip install -r requirements.txt
- pip install -e .

jobs:
  include:
  - stage: lint
    name: Flake8
    script: flake8 asyncio_iter_tools tests
  - name: Mypy
    script: mypy asyncio_iter_tools
    install:
    - pip install mypy
  # - python: 3.6
  #   os: osx
stages:
- lint
- test

script: py.test -v --cov

cache: pip
before_cache:
- rm -rf $HOME/.cache/pip/http
- rm -f $HOME/.cache/pip/log/debug.log

after_script:
- codecov
