sudo: false
dist: trusty

language: python

python:
- "3.6"

install:
- pip install -r requirements.txt
- pip install -e .

jobs:
  include:
  - name: lint
    script: flake8 asyncio_iter_tools tests
  - name: test
    python: 3.7
    dist: xenial
    sudo: true

script: py.test -v

cache: pip
before_cache:
- rm -rf $HOME/.cache/pip/http
- rm -f $HOME/.cache/pip/log/debug.log

after_script:
- codecov
